/* background */


/* header Items */

#logo {
    display: block;
    float: left;
    height: 100px;
    margin: 0 10px;
}


/* Navigation Bar */

#navi-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    text-align: center;
}

#navi-bar li {
    display: inline-block;
}

.nav-item {
    text-decoration: none;
    color: #22a7f0;
    display: block;
    width: 100px;
    text-align: center;
    padding: 15px 10px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 18px;
}

#cho-item {
    text-decoration: none;
    color: white;
    display: block;
    width: 100px;
    text-align: center;
    padding: 15px 10px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 18px;
    background-color: black;
}

.nav-item:hover {
    color: black;
}


/* body items */

.home-para {
    color: #22a7f0;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 1000;
    line-height: 100%;
    margin: 1%;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#home-para3 {
    color: white;
    font-family: comic sans MS;
    font-size: 50px;
    font-weight: 1000;
    line-height: 100%;
    margin: 1%;
    text-align: center;
}

#home-para2 {
    color: white;
    font-family: comic sans MS;
    font-size: 50px;
    font-weight: 1000;
    line-height: 100%;
    margin: 1%;
    text-align: center;
    font-style: italic;
}

#home {
    padding: 10%;
}

#home2 {
    background-color: lightgray;
    text-align: center;
}

.home2-para {
    display: inline-block;
    text-align: center;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 0;
}

.para {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin: 1%;
}

#img2 {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#backpara {
    color: #22a7f0;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 1000;
    line-height: 100%;
    margin: 1%;
    text-align: center;
    padding: 10%;
    margin: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#backpara2 {
    color: black;
    font-family: comic sans MS;
    font-size: 40px;
    font-weight: 1000;
    line-height: 100%;
    margin: 1%;
    text-align: center;
}


/* background image */

#back-img {
    margin: 0;
    background-image: url("images/adult.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#backimg2 {
    margin: 0;
    background-image: url("images/homeback2.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
}


/* footer */

#footer-background {
    width: 100%;
    display: block;
    background-color: none;
    font-weight: 200;
}

#foot-addr {
    display: inline-block;
    padding-left: 1cm;
}

.address {
    color: #22a7f0;
    font-family: comic sans MS;
}

#social-media {
    float: right;
}

#social-media h3 {
    color: #22a7f0;
    font-family: comic sans MS;
    margin-left: 7px;
}