/* background */


/* header Items */

#header {
    height: 150px;
}

#logo {
    display: block;
    float: left;
    height: 150px;
    margin: 0 10px;
}

#header h1 {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    height: 100px;
    line-height: 100px;
    font-family: comic sans MS;
    color: #22a7f0;
}

#search-bar {
    display: block;
    float: right;
    margin: 40px 10px;
}

#search-bar input {
    border-color: black;
    border-radius: 7px;
    height: 20px;
}


/* Navigation Bar */

#navi-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #22a7f0;
}

#navi-bar li {
    display: inline-block;
}

.nav-item {
    text-decoration: none;
    color: white;
    display: block;
    width: 100px;
    text-align: center;
    padding: 15px 10px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 18px;
}

#cho-item {
    text-decoration: none;
    color: white;
    display: block;
    width: 100px;
    text-align: center;
    padding: 15px 10px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 18px;
    background-color: black;
}

.nav-item:hover {
    color: white;
    background-color: #025fc9;
}


/* body items */


/* background image */

#back-img {
    margin: 0;
    padding-bottom: 10%;
    background-image: url("images/registerback.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* register form */

#form-back {
    padding-left: 10%;
    height: 500px;
    display: block;
    padding-left: 5%;
}

#form-back h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 0%;
    padding-top: 6%;
    font-family: Arial, Helvetica, sans-serif;
}


/* form inputs */

#first-name {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    margin-left: 23px;
    border-color: black;
}

#last-name {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    margin-left: 50px;
    border-color: black;
}

#email {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    margin-left: 51px;
    border-color: black;
}

#date {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    border-color: black;
}

#coun {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    margin-left: 43px;
    border-color: black;
}

#cont {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    border-color: black;
}

#uname {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    margin-left: 23px;
    border-color: black;
}

#pass {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    margin-left: 33px;
    border-color: black;
}

#cpass {
    width: 30%;
    height: 30px;
    margin: 10px;
    padding: 0 5px;
    margin-left: 18px;
    border-color: black;
}


/*form buttons*/

#signup {
    height: 30px;
    margin-top: 15px;
    background-color: #ff0000;
    border-color: black;
    color: white;
    border-radius: 4px;
}

#signup:hover {
    color: #ff0000;
    background-color: white;
    border: 2px solid #ff0000;
}


/* footer */

#footer-background {
    width: 100%;
    display: block;
    background-color: #22a7f0;
}

#foot-addr {
    display: inline-block;
    padding-left: 1cm;
}

.address {
    color: white;
    font-family: comic sans MS;
}

#social-media {
    float: right;
}

#social-media h3 {
    color: white;
    font-family: comic sans MS;
    margin-left: 7px;
}