/* background */


/* header Items */

#logo {
    display: block;
    float: left;
    height: 100px;
    margin: 0 10px;
}


/* Navigation Bar */

#navi-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    text-align: center;
    margin-bottom: 50px;
}

#navi-bar li {
    display: inline-block;
}

.nav-item {
    text-decoration: none;
    color: #22a7f0;
    display: block;
    width: 100px;
    text-align: center;
    padding: 15px 10px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 18px;
}

#cho-item {
    text-decoration: none;
    color: black;
    display: block;
    width: 100px;
    text-align: center;
    padding: 15px 10px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 18px;
    background-color: white;
}

.nav-item:hover {
    color: black;
}

#user-table {
    display: inline-block;
}




/* body items */

#user{
    background-color: black;
    color:#22a7f0;
    font-family: "Arial", Helvetica, sans-serif;
}

#user h1{
    display: inline-block;
    margin:0;
    padding-left: 10px;

}

#out{
    float: right;
    margin: 10px;
    background-color:red;
    color: white;
    border: none;
}

#out:hover{
    color:red;
    background-color:white;
}

#user-navi{
    list-style: none;
    background-color: #22a7f0;
    display: inline-block;
    text-align: center;
    height: 217px;
    width: 150px;
}

.user-navi-item {
    text-decoration: none;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    color:white;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
}

#user-navi-choose{
    text-decoration: none;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    color:white;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
    background-color:black;
}

.user-navi-item:hover{
    background-color: #025fc9;
    color:white;
}

/* footer */

#footer-background {
    width: 100%;
    display: block;
    background-color: none;
    font-weight: 200;
}

#foot-addr {
    display: inline-block;
    padding-left: 1cm;
}

.address {
    color: #22a7f0;
    font-family: comic sans MS;
}

#social-media {
    float: right;
}

#social-media h3 {
    color: #22a7f0;
    font-family: comic sans MS;
    margin-left: 7px;
}